<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codeprogression.boisecodecamp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.codeprogression.boisecodecamp.CodeCampApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Bcc">
        <activity
            android:name="com.codeprogression.boisecodecamp.ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.codeprogression.boisecodecamp.ui.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name=".ui.speakers.SpeakerDetailActivity"
            android:label="@string/title_activity_speaker_detail"/>
        <activity
            android:name=".ui.sessions.SessionDetailActivity"
            android:label="@string/title_activity_session_detail"/>
        <activity
            android:name="com.codeprogression.boisecodecamp.ui.ErrorActivity"
            android:label="@string/title_activity_error"/>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="8d8b19ca26df611c13afe7eadd19ff9ee759dd13" />
    </application>


</manifest>